
<div class="box">
    <div class="box-header">
        <div class="row">
            <!--<div class="col-sm-4">
              <ob_link><a class="btn" href="{:url('add')}"><i class="fa fa-plus"></i> 充 值</a></ob_link>
            </div>-->
        </div>
        <div class="box-body topsearchbox">

            <div class="search-form">

                <div class="form-group col-md-4" style="width: 290px;padding:0">
                    <label style="float: left;line-height: 35px; padding-left: 26px"> 时间：</label>
                    <div class="input-group left" style="float: left;width: 183px">
                        <span class="add-on input-group-addon"><i
                                class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text"
                                                                                                      readonly
                                                                                                      style="width: 183px"
                                                                                                      name="setdate"
                                                                                                      id="reservation"
                                                                                                      class="form-control"
                                                                                                      value="{$setdate}"/>
                    </div>
                </div>

                <div class="form-group  col-md-4"  style="width: 290px;padding:0px;">
                    <label style="float: left;line-height: 35px; padding-left: 13px">  收款人：</label>
                    <div class="input-group left" style="float: left;width: 210px">
                        <input type="text" name="name" class="form-control " value="{:input('name')}"
                               placeholder="收款人">
                    </div>
                </div>
                <div class="form-group col-md-4"  style="width: 290px;padding:0px;">
                    <label style="float: left;line-height: 35px;"> 收款账号：</label>
                    <div class="input-group left" style="float: left;width: 220px">
                        <input type="text" name="ac" class="form-control " value="{:input('ac')}"
                               placeholder="支付宝账号/银行账号">
                    </div>
                </div>


                <div class="form-group col-md-4" style="width: 290px;padding:0px;">
                    <label style="float: left;line-height: 35px; padding-left: 26px"> 单号：</label>
                    <div class="input-group left" style="float: left;width: 220px">
                        <input type="text" name="orderno" class="form-control " value="{:input('orderno')}"
                               placeholder="单号">
                    </div>
                </div>



                <div class="form-group col-md-4" style="width: 400px;padding:0px;">
                    <label style="float: left;line-height: 35px; padding-left: 26px"> 状态：</label>

                    <label class="margin-r-5" style="line-height: 35px;">
                        <input type="radio" {empty name='state' }checked="checked" {/empty} name="state" value="0">
                        全部</label>

                    <label class="margin-r-5" style="line-height: 35px;">
                        <input type="radio" {eq name='state' value="1" }checked="checked" {/eq} name="state" value="1">
                        未审核</label>

                    <label class="margin-r-5" style="line-height: 35px;">
                        <input type="radio" {eq name='state' value="2" }checked="checked" {/eq} name="state" value="2">
                        已付款</label>

                    <label class="margin-r-5" style="line-height: 35px;">
                        <input type="radio" {eq name='state' value="3" }checked="checked" {/eq} name="state" value="3">
                        已标记</label>

                    <label class="margin-r-5" style="line-height: 35px;">
                        <input type="radio" {eq name='state' value="4" }checked="checked" {/eq} name="state" value="4">
                        驳回</label>
                </div>

                <div class="form-group col-md-3"  style="width: 100px;padding:0px;padding-left:26px;">

                    <ob_link><a id="search" url="{:url('alipay')}" class="btn"><i class="fa fa-search"></i> 查 询</a>
                    </ob_link>

                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#reservation').daterangepicker({
                        timePicker: false,
                        timePickerIncrement: 30,
                        format: 'YYYY/MM/DD'
                    }, function (start, end, label) {
                        console.log(start.toISOString(), end.toISOString(), label);
                    });
                });
            </script>
        </div>
    </div>

    <div>

    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover table-striped" style="width: 1600px">
            <thead>
            <tr>
                <th>提交时间</th>
                <th>类型</th>
                <th>单号</th>
                <th>出款账号</th>
                <th width="100px">收款人</th>
                <th>收款金额(总计{$paymoney}元)</th>
                <th>手续费(总计{$commission}元)</th>
                <th>状态</th>
                <th>用户</th>
                <th>审核备注</th>
                <th>操作</th>
            </tr>
            </thead>

            {notempty name='acclist'}
            <tbody>
            {volist name='acclist' id='vo'}
            <tr {eq name="vo.state" value="3" } style="color: #00acd6" {/eq}>
            <td>{:date("Y-m-d H:i:s",$vo['addtime'])}</td>
            <td>
                {eq name="vo.income_type" value="1"} 银行转账{/eq}
                {eq name="vo.income_type" value="2"} 支付宝{/eq}
                {eq name="vo.income_type" value="3"} 微信{/eq}

            </td>
            <td>{$vo.income_no}</td>
            <td class="_income_account">{$vo.income_account}</td>
            <td class="_income_name">{$vo.income_name}</td>
            <td class="_income_money">{:floatval($vo['income_money'])}</td>
            <td>{:floatval($vo['commission'])}</td>
            <td>
                {eq name="vo.state" value="1"}<span class="bg-blue">未审核</span>{/eq}
                {eq name="vo.state" value="2"}<span class="bg-green">已付款</span>{/eq}
                {eq name="vo.state" value="3"}<span class="bg-yellow">已标记</span>{/eq}
                {eq name="vo.state" value="4"}<span class="bg-red">驳回</span>{/eq}
            </td>
            <td>{$vo.username}</td>
            <td>{$vo.auth_remarks}</td>
            <td class="col-md-2 text-center">
                {if condition="$vo.state==1 || $vo.state==3"}
                <a href="{:url('edit', array('id' => $vo['income_id']))}" class="btn _upbtn"> 更改</a>
                {/if}
                {if condition=" IS_YH!=1"}
                {if condition="$vo.state==1 || $vo.state==2 || $vo.state==3" }
                <a class="btn bg-green _upbtn" {eq name="vo.state" value="2" } disabled="true"  {else/} data-toggle="modal"
                data-target="#myModal" {/eq} data-id="{$vo.income_id}" data-val="2" >
                同意 </a>
                {/if}


                {if condition="$vo.state==1 || $vo.state==3" }
                <a class="btn bg-yellow _upbtn" {eq name="vo.state" value="2" } disabled="true"  {else/} data-toggle="modal"
                data-target="#myModal" {/eq} data-id="{$vo.income_id}" data-val="3">
                标记 </a>
                {/if}


                {if condition="$vo.state==1 || $vo.state==4 || $vo.state==3" }
                <a class="btn bg-red _upbtn" {if condition="$vo.state==2 || $vo.state==4"} disabled="true"  {else/} data-toggle="modal" data-target="#myModal" {/if}  data-id="{$vo.income_id}" data-val="4">
                驳回 </a>
                {/if}
                {/if}
            </td>
            </tr>
            {/volist}
            </tbody>
            {else/}
            <tbody>
            <tr class="odd">
                <td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td>
            </tr>
            </tbody>
            {/notempty}
        </table>
    </div>
    <div class="box-footer clearfix text-center">
        {$acclist->render()}
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    审核确认(<span id="_statetxt" style="color: red"></span>)
                </h4>
            </div>

            <form action="{:url('payauth')}" method="post" class="form_single">
                <input type="hidden" name="state" id="_authid" value="0">
                <input type="hidden" name="id" id="_conid" value="0">
                <div class="modal-body x_content">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">支付宝账户：
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <span id="_alipaycoun"></span>
                        </div>
                    </div>
                    <br class="clear"/>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">收款人：
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <span id="_name"></span>
                        </div>
                    </div>
                    <br class="clear"/>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">金额：
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="color: red;font-weight: bold;">￥
                            <span id="_moneys"></span>
                        </div>
                    </div>
                    <br class="clear"/>

                    <div class="form-group">
                        <textarea class="form-control" name="remarks" rows="3" placeholder="请输入审核备注"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary bg-green ajax-post" data-style="slide-up"
                            target-form="form_single">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".modal-backdrop").remove();

    $("._upbtn").click(function () {
        var ids = $(this).attr("data-id");
        var state = $(this).attr("data-val");

        $("#_authid").val(state);
        $("#_conid").val(ids);
        if (state == 2) {
            $("#_statetxt").text("同意");
        }
        if (state == 4) {
            $("#_statetxt").text("驳回");
        }
        var income_name = $(this).parents("tr").find("._income_name").text();
//  var income_banke=$(this).parents("tr").find("._income_banke").text();
//  var income_bank_no=$(this).parents("tr").find("._income_bank_no").text();
        var income_money = $(this).parents("tr").find("._income_money").text();
        var income_account = $(this).parents("tr").find("._income_account").text();

        $("#_alipaycoun").text(income_account);
        $("#_name").text(income_name);
//  $("#_bankno").text(income_bank_no);
        $("#_moneys").text(income_money);
//  $("#_banks").text(income_banke);

    });
</script>



