    </section>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>版本号</b> 1.0.0
    </div>
    <strong>
        版权©2029.
    </strong>
      保留所有权利。
  </footer>
<script src="__STATIC__/module/admin/js/pjax_init.js"></script>
    <script>
      $(".treeview-menu").show();
    </script>
    <!--订单提醒-->
    {if condition="GROUPIDS==18 || GROUPIDS==20"}
    <script>
        function playaudo(audio,phair) {
            audio.src = phair;
            audio.addEventListener("canplaythrough", function () {

            }, false);
        }

        function timecheck(){
            $.post("{:url('index/mediomsg')}",'{}',function(re){
                var audio = document.createElement("audio");

                var datas=re.data;
                if(datas){
                    var pay=parseInt(datas.pay);
                    var recharge=parseInt(datas.recharge);
                    if(pay>0){
                        $('#topmess').show();
                        playaudo(audio,"__STATIC__/medio/payment.mp3");
                        audio.play();

                    }else{
                        $('#topmess').hide();
                    }

                    if(recharge>0){
                        $('#topmess').show();
                        setTimeout(function(){
                            playaudo(audio,"__STATIC__/medio/recharge.mp3");
                            audio.play();
                        },3000);

                    }else{
                        $('#topmess').hide();
                    }



                }

            },"json");
        }
//        timecheck();
        var int=self.setInterval("timecheck()",10000);

        var mystate=1;
        $('#topmess').click(function(){
//        $("audio").remove();
            if(mystate==1){
                $(this).css("color","#333");
//        alert("asdadsd");
                clearInterval(int);
//            audio.pause();//暂停
                mystate=2;
            }else{
                int=self.setInterval("timecheck()",10000);
                $(this).css("color","#fff");
                mystate=1;
            }

        });
    </script>
    {/if}
