<style>
  .boxmssge{
    border: 1px red solid;
  }
</style>
<div class="callout callout-warning"  >
  <div style="font-weight: bold; margin-bottom: 10px">收款人信息</div>

  <span >卡号：{$accountinfo.collection_no}</span>
  <span style="margin-left: 10px">姓名：{$accountinfo.collection_name}</span>
  <span style="margin-left: 10px">银行：{$accountinfo.collection_bank}</span>

  </div>
<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> <span style="color:red;">*</span> 转款人</label>
              <span> </span>
              <input class="form-control" name="pay_name" autocomplete="off" placeholder="请输入转款人" value="{$info['pay_name']|default=''}" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label> <span style="color:red;">*</span> 转款账号</label>
              <span>（请准确的输入转款银行账号）</span>
              <input class="form-control" name="bank_no" autocomplete="off" id="bank_no" placeholder="请输入转款账号" value="{$info['bank_no']|default=''}" type="text">
            </div>
          </div> 
            
          <div class="col-md-6">
            <div class="form-group">
              <label> <span style="color:red;">*</span> 转款银行</label>
              <span>（请准确的输入转款银行）</span>
              <input class="form-control" name="pay_bank" autocomplete="off" id="pay_bank" placeholder="请输入转款银行" value="{$info['pay_bank']|default=''}" type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> <span style="color:red;">*</span> 转款金额</label>
              <span>（元）</span>
              <input class="form-control" name="pay_money" autocomplete="off" placeholder="请输入转款金额" value="{$info['pay_money']|default=''}" type="text">
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
                <label>备注</label>
                <span> </span>
                <textarea class="form-control" name="remarks" rows="3" placeholder="请输入链接描述">{$info['remarks']|default=''}</textarea>
            </div>
          </div>

          </div>
        </div>
        
      <div class="box-footer">
        {empty name="info"}
          <input type="hidden" name="subkey" value="{$subkey}">
          <input type="hidden" name="collection_id" value="{$accountInfo['collection_id']|default='0'}"/>
        {/empty}
        <input type="hidden" name="recharge_id" value="{$info['recharge_id']|default=''}">

        {include file="layout/edit_btn_group"/}
      </div>

      </div>

</form>

<script type="text/javascript" src="__STATIC__/module/admin/js/banktype.js"></script>
<script>
//  var bankMssage=bank.checked({cardNo:'6228481269040908170'});
//  console.log(bankMssage);
  $(function(){
    $("#bank_no").bind('input porpertychange',function(){
      var carnos=$(this).val();
      var bankMssage=bank.checked({cardNo:carnos});
      var bankName=bankMssage.message.bankName;
      $("#pay_bank").val(bankName);
      if(bankMssage.message=="error"){
        $(this).addClass("boxmssge");
      }else{
        $(this).removeClass("boxmssge");
      }
//      console.log(bankMssage);
    });
  });
</script>

