<div class="box">
  <div class="box-header">

    <div class="row">
      <div class="col-sm-4">
        <ob_link><a class="btn" href="{:url('accountadd')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
      </div>

      <div class="col-sm-8">
        <div class="box-tools search-form pull-right">
          <div class="input-group input-group-sm">

            <input type="text" name="search_data" style="width: 200px;" class="form-control pull-right" value="{:input('search_data')}" placeholder="收款人|账号">

            <div class="input-group-btn">
              <button type="button" id="search"  url="{:url('account')}" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover table-striped">
      <thead>
      <tr>

        <th>收款人</th>
        <th>收款账号</th>
        <th>收款银行</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
      </thead>

      {notempty name='acclist'}
      <tbody>
      {volist name='acclist' id='vo'}
      <tr>

        <td>{$vo.collection_name}</td>
        <td>{$vo.collection_no}</td>
        <td>{$vo.collection_bank}</td>
        <td>{$vo.remarks}</td>
        <td class="col-md-2 text-center">
          <ob_link><a href="{:url('accountedit', array('id' => $vo['collection_id']))}" class="btn "><i class="fa fa-edit"></i> 编辑</a></ob_link>

        </td>
      </tr>
      {/volist}
      </tbody>
      {else/}
      <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>


  </div>
  <div class="box-footer clearfix text-center">
    {$acclist->render()}
  </div>
</div>