<style type="text/css">
    table.table, td, tr { /*可输入区域样式*/
        border: 0;
    }

    .dels {
        font-size: 25px;
        color: red;
        cursor: pointer;
        margin-top: 25px;
    }

    .form-control-feedback {
        right: 14px;
    }

    .modal-content{
        top:200px;
    }
</style>
<link rel="stylesheet" href="/static/module/admin/ext/bootstrapvalidator/css/bootstrapValidator.css"/>


<table border="1" style="display: none">
    <tbody>
    <tr id="a">
        <!--<td class="td"></td>-->
        <td>
            <fieldset>
                <div class="form-group ">
                    <label class="col-lg-5 control-label">收款人：</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control  "  autocomplete="off" name="income_name[]">
                    </div>
                </div>
            </fieldset>

        </td>

        <td>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-5 control-label">收款卡号：</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control "  autocomplete="off" name="income_bank_no[]">
                    </div>
                </div>
            </fieldset>

        </td>
        <td>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-5 control-label">收款银行：</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control "  autocomplete="off" name="income_banke[]">
                    </div>
                </div>
            </fieldset>

        </td>

        <td>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-5 control-label">转出金额：</label>
                    <div class="col-lg-12">
                        <input type="number" class="form-control "  autocomplete="off" name="income_money[]" value="0">
                    </div>
                </div>
            </fieldset>
        </td>
        <td><input type="hidden" class="_subley" name="subkey[]" value=""></td>
        <td>

            <i class="fa fa-trash-o dels"></i>

        </td>
    </tr>

    </tbody>

</table>


<form id="subform" action="{:url()}" method="post" class="form_single">

    <div class="box">
        <div class="callout callout-warning">
            可转出金额 <span id="_blance" style="font-size: 18px; font-weight: bold;">{$blance}</span> 元
        </div>
        <div class="box-body">
            <table class="table" border="1">
                <tbody>
                <tr>
                    <!--<td class="td"></td>-->
                    <td>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">收款人：</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control _name"  autocomplete="off" name="income_name[]">
                                </div>
                            </div>
                        </fieldset>

                    </td>

                    <td>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">收款卡号：</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control _bank_no"  autocomplete="off" name="income_bank_no[]">
                                </div>
                            </div>
                        </fieldset>

                    </td>
                    <td>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">收款银行：</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control _banke"  autocomplete="off" name="income_banke[]">
                                </div>
                            </div>
                        </fieldset>

                    </td>

                    <td>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">转出金额：</label>
                                <div class="col-lg-12">
                                    <input type="number" class="form-control _money"  autocomplete="off" name="income_money[]" value="">
                                </div>
                            </div>
                        </fieldset>
                    </td>
                    <td><input type="hidden" class="_subley" name="subkey[]" value=""></td>
                    <td>

                        <i class="fa fa-trash-o dels"></i>

                    </td>
                </tr>

                </tbody>

            </table>

            <a class="btn ladda-button addset" style="margin-left: 22px;">添加一笔</a>

            <button type="button" class="btn ladda-button bg-red _inmoumbtn">
                <span class="ladda-label"><i class="fa fa-send"></i> 转  出</span>
            </button>

           <!-- <button style="display:none;" type="submit" id="fomsubs" class="btn  ajax-post bg-red"
                    data-style="slide-up" target-form="form_single"></button>-->
            <!--<a onclick="del()">删除一行</a>-->

        </div>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        支付密码
                    </h4>
                </div>
                <div class="modal-body x_content">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">支付密码：
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control" name="passpwd" placeholder="请出入支付密码" value=""
                                   type="password">
                        </div>
                    </div>
                    <br class="clear"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary bg-green ajax-post" data-style="slide-up"
                            target-form="form_single">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>






<!--<script type="text/javascript" src="/static/module/admin/ext/bootstrapvalidator/js/bootstrapvalidator.js"></script>-->
<script type="text/javascript" src="/static/module/admin/js/md5.js"></script>
<script type="text/javascript" src="__STATIC__/module/admin/js/banktype.js"></script>

<script type="text/javascript">
    var i = 1;
    inmoumbtnSub();


    $(".td").each(function () {
        $(this).html(i++);
    });

    //银行卡校验
    function regTest(data){
         var regExp = /^([1-9]{1})(\d{15}|\d{16}|\d{17}|\d{18})$/;
         return regExp.test(data)
    }

//    console.log(regTest("1111111111111111123"));

    function subkey() {
        var times = new Date();
        var DateTime = Date.parse(new Date(times));
        var randstrs = DateTime.toString() + (Math.floor(Math.random() * 10000)).toString();
        var md5str = md5(randstrs);
        return md5str;
    }

    function fun() {
        var $td = $("#a").clone();       //增加一行,克隆第一个对象
        $(".table").append($td);
        var i = 1;

        var md5str = subkey();


//  $(".td").each(function(){       //增加一行后重新更新序号1,2,3......
//    $(this).html(i++);
//  })

        $(".table tr:last").find(":input").val('');   //将尾行元素克隆来的保存的值清空
        $(".table tr:last").find(":input[name='subkey[]']").val(md5str);
        $(".table tr:last").find(":input[name='income_banke[]']").addClass("_banke");
        $(".table tr:last").find(":input[name='income_name[]']").addClass("_name");
        $(".table tr:last").find(":input[name='income_bank_no[]']").addClass("_bank_no");
        $(".table tr:last").find(":input[name='income_money[]']").addClass("_money");
        $(".table tr:last").find(":input").parents(".form-group").removeClass('has-error');
        $(".table tr:last").find(":input").parents(".form-group").find("i").remove();
        $(".table tr:last").find(":input").parents(".form-group").find("small").remove();


        $(".dels").click(function () {
            var lens = $(".table").find("tr").length;
            if (lens > 1) {
                $(this).parents("tr").remove();
            }
        });
        aviteAll();

        $("._inmoumbtn").unbind();
        inmoumbtnSub();
        ckbank();
    }

    var bankeMsg = "请填写准确的收款银行!";
    var nameMsg = "请填准确的填写收款人";
    var moneyMsg = "请填准确的填写转出金额";
    var bankNoMsg = "请填准确的填写收款卡号";

    function inmoumbtnSub() {
        $("._inmoumbtn").click(function () {
            var acountFal;
            $("._bank_no").each(function () {
                var acountOne = aviteset(this, bankNoMsg, "");
                if (acountOne==false){
                    acountFal=false;
                }
                
            });

            $("._banke").each(function () {
                var acountOne = aviteset(this, nameMsg, "");
                if (acountOne==false){
                    acountFal=false;
                }
            });

            $("._name").each(function () {
                var acountOne = aviteset(this, nameMsg, "");
                if (acountOne==false){
                    acountFal=false;
                }
            });

            $("._money").each(function () {
                var acountOne = aviteset(this, moneyMsg, "");
                if (acountOne==false){
                    acountFal=false;
                }
            });

            if (acountFal == false) {
                return false;
            } else {
                console.log("sdasd");
                $('#myModal').modal('show');
            }

            /*else {
             $("#fomsubs").click();
             }*/
        });
    }




    //验证
    function aviteset(elems, nullmsg, numbermsg) {
        var vals = $(elems).val();
//        console.log(vals);
        $(elems).parents(".form-group").find("small").remove();
        if (!vals) {
            $(elems).parents(".form-group").addClass('has-error');
            $(elems).after('<i class="form-control-feedback glyphicon glyphicon-remove"></i>');
            $(elems).after('<small class="help-block" data-bv-validator="stringLength" data-bv-for="username" data-bv-result="INVALID" style="display: block;">' + nullmsg + '</small>');
            return false;
        } else {
            $(elems).parents(".form-group").removeClass('has-error');
            $(elems).parents(".form-group").find("i").remove();
            $(elems).parents(".form-group").find("small").remove();


            //金额验证
            var hasclassv = $(elems).hasClass("_money");
            if (hasclassv == true) {
                var patrn = /^(-)?\d+(\.\d+)?$/;
                $(elems).parents(".form-group").find("i").remove();
                if (patrn.exec(vals) == null || vals == "") {
                    $(elems).parents(".form-group").addClass('has-error');
                    $(elems).after('<i class="form-control-feedback glyphicon glyphicon-remove"></i>');
                    return false;
                } else {
                    var moneys = 0.0;
                    var blance = parseFloat($("#_blance").text());

                    $("._money").each(function () {
                        moneys += Number($(this).val());
                    });
                    console.log(moneys);
                    console.log(blance);
                    if (blance < moneys || moneys<0) {

                        $(elems).parents(".form-group").addClass('has-error');
                        $(elems).after('<i class="form-control-feedback glyphicon glyphicon-remove"></i>');
                        $(elems).after('<small class="help-block" data-bv-validator="stringLength" data-bv-for="username" data-bv-result="INVALID" style="display: block;">您已经超出可转出金额！</small>');
                        $(elems).val("0");
                        return false;
                    } else {
                        $(elems).parents(".form-group").removeClass('has-error');
                        $(elems).parents(".form-group").find("i").remove();
                        $(elems).parents(".form-group").find("small").remove();
                        return true;
                    }

                }

            }

            var hasBankNo=$(elems).hasClass("_bank_no");
            if(hasBankNo==true){
                var bankNoVal=$(elems).val();
                var bankck=regTest(bankNoVal);
                if(bankck==false){
                    $(elems).parents(".form-group").addClass('has-error');
                    $(elems).after('<i class="form-control-feedback glyphicon glyphicon-remove"></i>');
                    $(elems).after('<small class="help-block" data-bv-validator="stringLength" data-bv-for="username" data-bv-result="INVALID" style="display: block;">银行卡号格式有误！</small>');
                    return false;
                }else{
                    $(elems).parents(".form-group").removeClass('has-error');
                    $(elems).parents(".form-group").find("i").remove();
                    $(elems).parents(".form-group").find("small").remove();
                    return true;
                }
            }
            return true;
        }


    }

    function avite(elems, nullmsg, numbermsg) {
        $(elems).unbind();
        $(elems).blur(function () {
            aviteset(this, nullmsg, numbermsg)
        });

    }

    function aviteAll() {
        avite("._banke", bankeMsg, "");
        avite("._name", nameMsg, "");
        avite("._bank_no", bankNoMsg, "");
        avite("._money", moneyMsg, "");
    }



    function del() {
        $("table tr:not(:first):not(:first):last").remove();      //移除最后一行,并且保留前两行
    }

    var md5str = subkey();
    console.log(md5str);
    $(":input[name='subkey[]']").val(md5str);

    $(".addset").click(function () {
        fun();
    });


    //银行卡号识别银行类别
    function ckbank() {
        $("._bank_no").bind('input porpertychange',function(){
            var carnos=$(this).val();
            var bankMssage=bank.checked({cardNo:carnos});
            var bankName=bankMssage.message.bankName;
            $(this).parents("tr").find("._banke").val(bankName);
//            console.log(bankName);
        });
    }

    $(function(){
        ckbank();
    });

    aviteAll();

</script>