{include file="layout/top"/}


<body class="hold-transition login-page admin-login-body-background">
    
<script src="__STATIC__/module/admin/ext/background/login_background.js"></script>

<canvas></canvas>

<div class="admin-login-box">
  <div class="login-logo">
      <a href="" class="login-logo-a"><b>谷歌认证</b></a>
  </div>

  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">请输入谷歌验证码</p>
    {notempty name="qrcodeuel"}
      <div class="form-group has-feedback">

      <img src="{$qrcodeuel}" />

      </div>
    <div class="form-group has-feedback">
       手动密钥：{$secret}
    </div>
    {/notempty}

    <form action="{:url('check')}" method="post" class="form_single">

      <div class="form-group has-feedback">
           <input type="text" name="code" class="form-control" placeholder="">
           <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>


        <div class="social-auth-links text-center">

          <button  type="submit" class="btn btn-block btn-facebook ladda-button ajax-post"  target-form="form_single" data-style="slide-up">
              <span class="ladda-label">验 证</span>
          </button>
            
          <!--<button  type="button" class="btn btn-block btn-google btn-flat">忘记密码</button>-->
        </div>
    </form>

    <!-- /.social-auth-links -->
    <!--<a href="#">找回密码</a><br>-->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{include file="layout/bottom"/}